<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blogs</title>
    <link rel="stylesheet" href="/stylesheets/myblogs.css">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">Blogify</div>

        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/allblogs">All Blogs</a></li>
            <li><a href="/myblogs">My Blogs</a></li>
            <li><a href="/aboutus">About Us</a></li>
        </ul>
    </nav>

    <!-- Heading -->
    <h2 class="heading">My Blogs</h2>

    <% if (blogs.length===0) { %>
        <p class="no-blog">No blogs created yet</p>
        <% } %>

            <!-- Blog Grid -->
            <div class="blog-container">
                <% blogs.forEach(function(blog) { %>
                    <div class="blog-card">
                        <img src="<%= blog.blogpicture %>" width="100px" height="100px" />
                        <h3>
                            <%= blog.blogtitle %>
                        </h3>
                        <br>
                        <p>Likes :<%=blog.likes%>
                        </p>
                        <p>comments :<%=blog.comments.length%>
                        </p>
                        <br>

                        <a href="/blog/<%=blog._id%>"><button>View blog</button></a>
                    </div>
                    <% }) %>
            </div>

</body>

</html>